{% extends 'base.html' %}


{% block content %}
<div class="row justify-content-center"><h3>Welcome to home page of Vidgyor!!!</h3></div><br><br>

        <div class="col=6">
                    <div class="Container">
                          <h1>Filtered Results</h1>
                            <table style="width:80%">
                                <tr>
                                    <th>Thumbnail</th>
                                    <th>Title</th>
                                    <th>Created_on</th>
                                    <th>Duration</th>
                                </tr>
                                {% for e in form %}
                                        <tr>
                                            <td><img src='{{ MEDIA_URL }}{{ e.thumbnail }}' width="40" height="40"></td>
                                            <td> <a href="/editmeta/{{ form.title }}/">{{ e.title }}</a></td>
                                            <td>{{ e.created_on }}</td>
                                            <td>{{ e.duration }}</td>
                                        </tr>
                                {% endfor %}
                            </table>
                    </div>
                </div>
            </div>
{% endblock %}

