{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
        <div class="col=6">
                    <div class="Container">

                        <h2>Welcome to Vidgyor, {{ user.username }} !!!!</h2><br><br>
                        <h4> Upload Video and its metadata!!</h4>
                        <form enctype="multipart/form-data" method="POST" action="">
                            {% csrf_token %}
                        <table class="table">
                            {% for field in form %}
                            <tr>
                                <td>{{ field.label_tag }}</td>
                                <td>{{ field }}</td>
                            </tr>
                            {% endfor %}
                        </table>

                            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
                        </form>

                    </div>
                </div>

</div>

{% endblock %}